{% extends "layout.html" %}

{% block content %}

  <div class="wrapper">
    <br><br>
    <div class="error">
      <h3>{{ error.status }}</h3>
      <h3>{{ error.message }}</h3>
      <pre>{{ error.stack }}</pre>
    </div>
  </div>

{% endblock %}