<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Node.js + Nginx</title>
  <link rel="stylesheet" href="/css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>

{% block content %}{% endblock %}

<script src="/js/handler.js"></script>
</body>

</html>