{% extends "layout.html" %}

{% block content %}

<div class="wrapper">

  <form action="/page1" method="post">
    <label>Как Вас зовут? <input type="text" name="name"></label>
    <button type="submit">Ok</button>
  </form>

</div>

{% endblock %}